// Styles taken/transformed from: https://codepen.io/CameronFitzwilliam/pen/ZJoENR
#scene {
    z-index: -1;
}

// Stars
.stars {
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
    z-index: -1;

    &>* {
        position: absolute;
        background: rgba(241, 241, 241, 1);
        border-radius: 50px;
        animation: twinkle 2s infinite;
        transition-timing-function: ease-in-out;
    }

    @for $i from 1 through (20) {
        $top: random(100);
        $left: random(100);
        $size: random(6)+0px;

        .star:nth-of-type(#{$i}) {
            position: relative;
            top: $top * 1%;
            left: $left * 1%;
            width: $size;
            height: $size;
            animation-delay: random(5) + s;
        }
    }

    @for $i from 21 through (40) {
        $top: random(100);
        $left: random(100);
        $size: random(6)+0px;

        .star:nth-of-type(#{$i}) {
            position: relative;
            top: $top * 1%;
            left: $left * 1%;
            width: $size;
            height: $size;
            animation-delay: random(5) + s;
        }
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.sky {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #c5cfb7; // Old browsers
    background-image: radial-gradient(ellipse, #c5cfb7 0%, #84ad98 20%, #5f9986 39%, #5f9986 50%, #5f9986 60%, #4a8974 72%, #326565 84%, #082d47 100%);
}